[submodule "vendor/WindowsTemplateLibrary"]
	path = vendor/WindowsTemplateLibrary
url=https://git.code.sf.net/p/wtl/git 
	branch = master
[submodule "vendor/distorm"]
	path = vendor/distorm
url=https://github.com/gdabah/distorm.git
[submodule "vendor/tinyxml2"]
	path = vendor/tinyxml2
url=https://github.com/leethomason/tinyxml2.git
	branch = master