[submodule "vendor/WindowsTemplateLibrary"]
	path = vendor/WindowsTemplateLibrary
url=git://git.code.sf.net/p/wtl/git
	branch = master
[submodule "vendor/ticpp"]
	path = vendor/ticpp
	url = git@github.com:wxFormBuilder/ticpp.git
	branch = master
[submodule "vendor/distorm"]
	path = vendor/distorm
	url = git@github.com:gdabah/distorm.git
