[submodule "tinyxml"]
	path = tinyxml
	url = git@github.com:wxFormBuilder/ticpp.git
[submodule "WTL"]
	path = WTL
	url = git@github.com:lucasg/WindowsTemplateLibrary.git
	branch = master
[submodule "vendor/WindowsTemplateLibrary"]
	path = vendor/WindowsTemplateLibrary
	url = git@github.com:lucasg/WindowsTemplateLibrary.git
	branch = master
[submodule "vendor/ticpp"]
	path = vendor/ticpp
	url = git@github.com:wxFormBuilder/ticpp.git
	branch = master
